server:
  port: 8080
  forward-headers-strategy: framework
  servlet:
    context-path: /api


spring:
  application:
    name: stock-manager
  datasource:
    url: jdbc:postgresql://localhost:5432/stock_management_db
    username: postgres
    password: postgres


  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    database: POSTGRESQL
    hibernate:
      ddl-auto: update
    show-sql: true

