<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- فقط لاگ‌های پکیج پروژه -->
    <logger name="com.example.stock_manager" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Appender کنسول (بدون تغییر) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender فایل با pattern مخصوص خودت -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- هر روز یک فایل جدید -->
            <fileNamePattern>logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <!-- اینجا لاگ فایل رو کاستوم می‌کنی -->
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} | %-5level | %logger{36} | %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- root logger فقط کنسول -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
